.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  width: 100%;
  padding: 0;
  margin-top: 6px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main-content {
    padding: var(--space-lg) var(--space-sm);
  }
}

@media (max-width: 768px) {
  .layout-wrapper {
    flex-direction: column;
  }
}
